backend/node_modules/.package-lock.json
backend/node_modules/nodemailer/.gitattributes
backend/node_modules/nodemailer/.ncurc.js
backend/node_modules/nodemailer/.prettierrc.js
backend/node_modules/nodemailer/CHANGELOG.md
backend/node_modules/nodemailer/CODE_OF_CONDUCT.md
backend/node_modules/nodemailer/LICENSE
backend/node_modules/nodemailer/package.json
backend/node_modules/nodemailer/README.md
backend/node_modules/nodemailer/SECURITY.txt
backend/node_modules/nodemailer/lib/nodemailer.js
backend/node_modules/nodemailer/lib/addressparser/index.js
backend/node_modules/nodemailer/lib/base64/index.js
backend/node_modules/nodemailer/lib/dkim/index.js
backend/node_modules/nodemailer/lib/dkim/message-parser.js
backend/node_modules/nodemailer/lib/dkim/relaxed-body.js
backend/node_modules/nodemailer/lib/dkim/sign.js
backend/node_modules/nodemailer/lib/fetch/cookies.js
backend/node_modules/nodemailer/lib/fetch/index.js
backend/node_modules/nodemailer/lib/json-transport/index.js
backend/node_modules/nodemailer/lib/mail-composer/index.js
backend/node_modules/nodemailer/lib/mailer/index.js
backend/node_modules/nodemailer/lib/mailer/mail-message.js
backend/node_modules/nodemailer/lib/mime-funcs/index.js
backend/node_modules/nodemailer/lib/mime-funcs/mime-types.js
backend/node_modules/nodemailer/lib/mime-node/index.js
backend/node_modules/nodemailer/lib/mime-node/last-newline.js
backend/node_modules/nodemailer/lib/mime-node/le-unix.js
backend/node_modules/nodemailer/lib/mime-node/le-windows.js
backend/node_modules/nodemailer/lib/punycode/index.js
backend/node_modules/nodemailer/lib/qp/index.js
backend/node_modules/nodemailer/lib/sendmail-transport/index.js
backend/node_modules/nodemailer/lib/ses-transport/index.js
backend/node_modules/nodemailer/lib/shared/index.js
backend/node_modules/nodemailer/lib/smtp-connection/data-stream.js
backend/node_modules/nodemailer/lib/smtp-connection/http-proxy-client.js
backend/node_modules/nodemailer/lib/smtp-connection/index.js
backend/node_modules/nodemailer/lib/smtp-pool/index.js
backend/node_modules/nodemailer/lib/smtp-pool/pool-resource.js
backend/node_modules/nodemailer/lib/smtp-transport/index.js
backend/node_modules/nodemailer/lib/stream-transport/index.js
backend/node_modules/nodemailer/lib/well-known/index.js
backend/node_modules/nodemailer/lib/well-known/services.json
backend/node_modules/nodemailer/lib/xoauth2/index.js
